/* FONTES USADAS NESSA PAGE*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&family=Roboto+Mono:wght@700&family=Roboto+Slab&display=swap");

/* CONTAINER HOME */

.container-home {
  background-image: url("../../assets/images/backgroundHome.png") !important;
  background-size: auto;
  background-repeat: repeat-y;
  background-position: center;
}

.contentHome {
  padding-top: 80px;
}

/* CONTENT TOP*/

.rowTopHome {
  padding-top: 100px;
}

.titleHome {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto Mono";
}

#leftColumnHome {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  color: #fff;
}

#leftColumnHome p {
  width: 70%;
  padding-top: 20px;
  padding: 10px 0;
  letter-spacing: 1px;
}

.btnHomeTop {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #5a189a;
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
}

.btnHomeTop:hover {
  color: #fff;
}

.btnSpecial {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #5a189a;
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
  display: none;
}

.buttonsHome {
  display: flex;
  width: 70%;
  margin-top: 100px;
}

/* END CONTENT TOP */

/* SERVICES AREA */

.titleServices {
  text-align: center;
  padding: 80px 0;
  color: #fff;
  font-family: "Poppins";
  font-weight: 300;
}

.titleServices span {
  color: #6c63ff;
}

.rowServices {
  justify-content: center;
  padding-top: 80px;
}

.servicesCards {
  background-color: #333f51;
  margin: 20px 20px;
  width: 315px !important;
  height: 224px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.servicesCards h3 {
  font-weight: 300;
  font-size: 18px;
  font-family: "Poppins";
}

.servicesCards img {
  width: 150px;
}

/* FINAL SERVICES AREA */

/* LEVELS AREA */

.rowLevels {
  padding-top: 80px;
  color: #fff;
}

.titleLevels {
  font-size: 32px;
  font-family: "Roboto Slab";
  font-weight: 400;
}

.subTitleLevels {
  font-size: 18px;
  font-family: "Roboto Slab";
  font-weight: 400;
  padding: 20px 0px;
  color: #7d8597;
}

.contentLevels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.levelsHome {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.levelsHome p {
  margin-left: 20px;
}

/* FINAL LEVELS */

/* HOW IT WORKS */

.rowHowItWorks {
  padding-top: 80px;
  justify-content: center;
  color: #fff;
}

.titleHIW {
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0;
  font-family: "Roboto Slab";
  font-weight: 700;
}

.titleHIW span {
  color: #9556cc;
}

.cardHIW {
  background-color: #333f51;
  margin: 30px 15px;
  height: 180px;
  width: 310px !important;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.cardHIW h4 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1rem;
  margin-top: 30px;
  margin-left: 20px;
}

.cardHIW h6 {
  font-size: 0.9rem;
  font-family: "Poppins";
  font-weight: 500;
  margin: 20px 20px;
  color: #8896ab;
}

.circleHIW {
  position: absolute;
  top: 0;
  left: 45%;
  margin-top: -17px;
  border: 4px solid #333f51;
  border-radius: 50%;
  background-color: #9556cc;
  width: 45px;
  height: 45px;
  text-align: center;
}

.circleHIW p {
  padding-top: 5px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 600;
}

/* FINAL HOW IT WORKS */

/* BENEFITS */

.rowBenefits {
  padding-top: 80px;
  color: #fff;
  justify-content: center;
}

.titleBenefits {
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.5rem;
}

.cardBenefits {
  background-color: #333f51;
  position: relative;
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 310px !important;
  height: 400px !important;
  border-radius: 10px;
}

.cardBenefits img {
  height: 200px;
}

.circleBNF {
  position: absolute;
  top: 0;
  left: 45%;
  margin-top: -17px;
  border: 4px solid #333f51;
  border-radius: 50%;
  background-color: #9556cc;
  width: 45px;
  height: 45px;
  text-align: center;
}

.circleBNF p {
  padding-top: 5px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 600;
}

.cardBenefits h4 {
  font-family: "Poppins";
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
}

.cardBenefits h6 {
  font-family: "Poppins";
  margin: 0 10px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #8896ab;
}

/* FINAL BENEFITS */

/* Who We Are */

.rowWWA {
  padding-top: 100px;
  color: #fff;
}

.colLeftWWA h4 {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 400;
}

.colLeftWWA p {
  margin-top: 40px;
  max-width: 400px;
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 40px;
}

/* FINAL WWA */

/* Founders */

.rowFounders {
  padding-top: 80px;
  justify-content: center;
}

.titleFounders {
  text-align: center;
  padding: 80px 0;
}

.titleFounders h3 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Roboto Mono";
}

.titleFounders h6 {
  font-size: 0.9rem;
  color: #8896ab;
  font-family: "Roboto Slab";
  letter-spacing: 1px;
}

.cardFounders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
  color: #fff;
  font-family: "Poppins";
}

.cardFounders h4 {
  font-size: 16px;
  padding: 5px 0;
}

.cardFounders h6 {
  font-size: 14px;
  color: #5a189a;
}

/* FINAL FOUNDERS */

.rowFooter {
  padding-top: 100px;
}

.containerFooterHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9rem;
}

.containerFooterHome p {
  margin: 0;
  margin: 2px 0;
}

.containerFooterHome img {
  width: 100px;
}

/* MEDIA SCREENS */

@media screen and (max-width: 900px) {
  .btnHomeTop {
    display: none;
  }
  .btnSpecial {
    display: initial;
  }
}

@media screen and (max-width: 575px) {
  .titleHome,
  #leftColumnHome p,
  .buttonsHome {
    width: 85%;
  }
  .btnHomeTop {
    padding: 6px 12px;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .colAstronautHome {
    display: none !important;
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .btnHomeTop {
    padding: 5px 13px;
  }
  #leftColumnHome p {
    width: 85%;
  }
  .buttonsHome {
    width: 85%;
  }
}
