.navbarHomePrivate {
  background-color: #333f51;
  position: relative;
  height: 54px;
}

.link-navbarHomePrivate {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  margin: 5px 5px;
  font-family: "Poppins";
}

.link-navbarHomePrivateSignOut {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  margin: 5px 5px;
  font-size: 18px;
  font-family: "Poppins";
}

.link-navbarHomePrivateSignOut > p {
  font-size: 14px;
  margin: 0;
}

.link-navbarHomePrivate:hover,
.link-navbarHomePrivateSignOut:hover {
  color: #fff;
}

.icons-navbarPrivate {
  color: #fff !important;
  font-size: 18px;
  margin-top: 8px;
}

.mobileTextNav {
  display: none;
}

@media screen and (max-width: 991px) {
  .special-caseNavHome,
  .navbarHomePrivate,
  .navHomePrivate-custom,
  .navHomePrivate-custom2 {
    background: radial-gradient(50% 50% at 50% 50%, #191a55 0%, #0d0c22 100%);
    opacity: 0.9;
  }
  .icons-navbarPrivate {
    margin-left: 10px;
  }
  .mobileTextNav {
    display: initial;
    font-size: 14px;
  }
}

@media (min-width: 991px) {
  .navHomePrivate-custom {
    position: absolute;
    right: 39%;
  }
  .navHomePrivate-custom2 {
    position: absolute;
    right: 1%;
  }
}
